<!-- React-slick Core JavaScript -->
<!--script src="js/react-slick.js"></script-->

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">

            <h1 class="text-center"><span id="lang5">10 Reasons to use Smartcoins</span></h1>

            <div class="row">
                <div class="col-sm-1 col-xs-2">
                    <img src="img/qr-codes.png" class="img-responsive">
                    </div>
                <div class="col-sm-5 col-xs-10">
                    <h2 class="liststyle1">
                        <ul>
                            <li><span id="lang6">Cryptocurrencies do not need Banks</span></li>
                            <li><span id="lang7">Fast, 3-second transactions</span></li>
                            <li><span id="lang8">QR codes are faster/safer than cash/cards</span></li>
                            <li><span id="lang9">Send/Receive any amount for under 1 cent</span></li>
                            <li><span id="lang10">Future-proof; Most popular coins are made available automatically via their market capitalization</span></li>
                        </ul>
                    </h2>
                </div>
                <div class="col-sm-1 col-xs-2">
                    <img src="img/merchant.png" class="img-responsive">
                </div>
                <div class="col-sm-5 col-xs-10">
                    <h2 class="liststyle1">
                        <ul>
                            <li><span id="lang11">Zero fees for Merchants</span></li>
                            <li><span id="lang12">Zero chance of ID Theft or Chargebacks</span></li>
                            <li><span id="lang13">Zero volatility; coins are market-pegged</span></li>
                            <li><span id="lang14">Automated Accounting, Acquire new customers.. Globally!</span></li>
                        </ul>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</header>