<div id="Expo_2016"></div>
<!-- Expo Aside -->
<section class="expo">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <a href="http://www.btc-echo.de/daenische-firma-will-die-kryptowaehrungs-industrie-revolutionieren_2015061801/">
                    <img src="img/press-btc-echo.png" class="press img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="http://cointelegraph.com/news/114033/bitshares-101-basics-of-the-worlds-4th-most-popular-cryptocurrency">
                    <img src="img/press-thecointelegraph.png" class="press img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="http://www.forbes.com/sites/rogeraitken/2015/07/16/is-the-nanocard-bitcoins-killer-app-can-it-transform-the-global-remittance-market/4/">
                    <img src="img/press-forbes.png" class="press img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="http://bitcoinsandgravy.com/bitcoins-and-gravy-64-bitshares-on-the-open-road-transcript">
                    <img src="img/press-lets-talk-bitcoin.png" class="press img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="http://finance.yahoo.com/news/peak-venture-group-adopts-bitshares-034700689.html">
                    <img src="img/press-yahoo-finance.png" class="press img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="http://www.pressadvantage.com/story/2245-banx-capital-joins-the-bitshares-exchange-network">
                    <img src="img/press-banx-capital.png" class="press img-responsive img-centered" alt="">
                </a>
            </div>
        </div>
    </div>
</section>

<section id="expo2" class="bg-light-gray">
    <div class="container">
	<table>
<tr>
<td width="50%">
<h3>BitShares Munich Expo 2016</h3>
The expo stuff will go in here. Hackathon, BitShares Bingo (win prizes), Speakers (BaFin, a federal german politician running for office, a crypto legal firm, a crypto savvy accounting firm, max?, ronny?, stan?, chris?, ____), Sponsors, music, food and drinks, BitShares POS systems on display, Crypto Coaches, free henna tattoos, PeerTracks, Smartcard
</td>
<td width="50%" align=center><img src="img/store.jpg" width="267" height="200" alt="store"></td>
</tr>
</table>
	</div>
</section>

