<div id="cryptocurrency_exchange"></div>
<!-- exchange Section -->
<section id="exchange">
    <div class="container">
        <div>
            <table>
                <tbody>
                <tr>
                    <td>
                        <b>The BitShares <i>Decentralized</i> Cryptocurrency Exchange</b>
                        <ul style="list-style-type: circle;">
                            <li>Yield-bearing Accounts</li>
                            <li>Prediction Market</li>
                            <li>Global Remittance</li>
                            <li>Project Fundraising</li>
                            <li>Anonymity, Security &amp; Multi-sig</li>
                            <li>Major Indexes; Nasdaq, Nikkei, Hang Seng, Shenzhen..</li>
                        </ul>
                    </td>
                    <td align="center">
                        <div id="cf">
                            <img alt="" src="img/cf-open-orderbook.png" class="img-responsive bottom"
                                 ilo-full-src="http://localhost:8080/img/cf-open-orderbook.png">
                            <img alt="" src="img/cf-bitshares-wallet.png" class="img-responsive top"
                                 ilo-full-src="http://localhost:8080/img/cf-bitshares-wallet.png">
                        </div>
                    </td>
                    <td >
                        <ul style="list-style-type: circle;">
                            <li>Bond Market &amp; Lending</li>
                            <li>Trading, Shorting, Longs</li>
                            <li>Market-Pegged &amp; User-Issued Assets (MPA/UIA's)</li>
                            <li>Programmable Smart-Contracts</li>
                            <li>Crypto-income &amp; Wealth Mgmt</li>
                            <li>Recurring/Scheduled Payments</li>
                            <li>1sec transactions @ &gt;100K tps</li>
                            <li>Pay anyone anywhere any amount for under 3 cents!</li>
                        </ul>
                    </td>
                    <td align="center">
                        <div id="cf">
                            <img alt="" src="img/cf-assets.png" class="img-responsive bottom"
                                 ilo-full-src="http://localhost:8080/img/cf-assets.png">
                            <img alt="" src="img/cf-buy-sell.png" class="img-responsive top"
                                 ilo-full-src="http://localhost:8080/img/cf-buy-sell.png">
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
