
<!-- Store Section -->
<section id="store" class="bg-light-gray">
    <div class="container">
		<div id="store_render"></div>
    </div>
</section>
<script>
	var accordion = React.createElement(AccordionNode, {className: "main", expanded: true},
			React.createElement("div", {className: "title"},
					React.createElement("img", {src: "img/cart.png", alt: "cart", className: "cart"}),
					React.createElement("strong", null, "Smartcoin Shop")
			),
			React.createElement("div", {className: "content"},
					React.createElement(AccordionNode, {expanded: true},
							React.createElement("div", {className: "title"}, "BitShares POS"),
							React.createElement("div", {className: "content"},
									React.createElement(AccordionNode, null,
											React.createElement("div", {className: "title leaf"},
													React.createElement("a", {href: "#"}, "Configure a System")
											)
									),
									React.createElement(AccordionNode, null,
											React.createElement("div", {className: "title leaf"},
													React.createElement("a", {href: "#"}, "Download the App")
											)
									)
							)
					),
					React.createElement(AccordionNode, null,
							React.createElement("div", {className: "title"}, "Crypto Coaching"),
							React.createElement("div", {className: "content"},
									React.createElement(AccordionNode, null,
											React.createElement("div", {className: "title leaf"},
													React.createElement("a", {href: "#"}, "Christoph Hering")
											)
									),
									React.createElement(AccordionNode, null,
											React.createElement("div", {className: "title leaf"},
													React.createElement("a", {href: "#"}, "Michael Ep")
											)
									),
									React.createElement(AccordionNode, null,
											React.createElement("div", {className: "title leaf"},
													React.createElement("a", {href: "#"}, "ken Code")
											)
									)
							)
					),
					React.createElement(AccordionNode, null,
							React.createElement("div", {className: "title"}, "Goodies"),
							React.createElement("div", {className: "content"},
									React.createElement(AccordionNode, null,
											React.createElement("div", {className: "title leaf"},
													React.createElement("a", {href: "#"}, "BTSMUC Expo Exhibitors")
											)
									),
									React.createElement(AccordionNode, null,
											React.createElement("div", {className: "title"}, "Cold Storage"),
											React.createElement("div", {className: "content"},
													React.createElement(AccordionNode, null,
															React.createElement("div", {className: "title leaf"},
																	React.createElement("a", {href: "#"}, "Keyfob")
															)
													),
													React.createElement(AccordionNode, null,
															React.createElement("div", {className: "title leaf"},
																	React.createElement("a", {href: "#"}, "Wallet Card")
															)
													)
											)
									),
									React.createElement(AccordionNode, null,
											React.createElement("div", {className: "title"}, "QR Wearables"),
											React.createElement("div", {className: "content"},
													React.createElement(AccordionNode, null,
															React.createElement("div", {className: "title leaf"},
																	React.createElement("a", {href: "#"}, "Bracelet")
															)
													),
													React.createElement(AccordionNode, null,
															React.createElement("div", {className: "title leaf"},
																	React.createElement("a", {href: "#"}, "Henna Tattoo")
															)
													),
													React.createElement(AccordionNode, null,
															React.createElement("div", {className: "title leaf"},
																	React.createElement("a", {href: "#"}, "Keychain")
															)
													),
													React.createElement(AccordionNode, null,
															React.createElement("div", {className: "title leaf"},
																	React.createElement("a", {href: "#"}, "Necklace")
															)
													)
											)
									)
							)
					),
					React.createElement(AccordionNode, null,
							React.createElement("div", {className: "title"}, "Hats"),
							React.createElement("div", {className: "content"},
									React.createElement(AccordionNode, null,
											React.createElement("div", {className: "title leaf"},
													React.createElement("a", {href: "#"}, "Baseball")
											)
									),
									React.createElement(AccordionNode, null,
											React.createElement("div", {className: "title leaf"},
													React.createElement("a", {href: "#"}, "Beanie")
											)
									)
							)
					),
					React.createElement(AccordionNode, null,
							React.createElement("div", {className: "title"}, "Shirts"),
							React.createElement("div", {className: "content"},
									React.createElement(AccordionNode, null,
											React.createElement("div", {className: "title"}, "Casual"),
											React.createElement("div", {className: "content"},
													React.createElement(AccordionNode, null,
															React.createElement("div", {className: "title leaf"},
																	React.createElement("a", {href: "#"}, "Mens")
															)
													),
													React.createElement(AccordionNode, null,
															React.createElement("div", {className: "title leaf"},
																	React.createElement("a", {href: "#"}, "Womens")
															)
													),
													React.createElement(AccordionNode, null,
															React.createElement("div", {className: "title leaf"},
																	React.createElement("a", {href: "#"}, "Kids")
															)
													)
											)
									),
									React.createElement(AccordionNode, null,
											React.createElement("div", {className: "title"}, "Formal"),
											React.createElement("div", {className: "content"},
													React.createElement(AccordionNode, null,
															React.createElement("div", {className: "title leaf"},
																	React.createElement("a", {href: "#"}, "Mens")
															)
													),
													React.createElement(AccordionNode, null,
															React.createElement("div", {className: "title leaf"},
																	React.createElement("a", {href: "#"}, "Womens")
															)
													),
													React.createElement(AccordionNode, null,
															React.createElement("div", {className: "title leaf"},
																	React.createElement("a", {href: "#"}, "Kids")
															)
													)
											)
									)
							)
					),
					React.createElement(AccordionNode, null,
							React.createElement("div", {className: "title"}, "Smartcards"),
							React.createElement("div", {className: "content"},
									React.createElement(AccordionNode, null,
											React.createElement("div", {className: "title leaf"},
													React.createElement("a", {href: "#"}, "In Europe")
											)
									),
									React.createElement(AccordionNode, null,
											React.createElement("div", {className: "title leaf"},
													React.createElement("a", {href: "#"}, "Outside Europe")
											)
									)
							)
					)
			)
	)

	ReactDOM.render(accordion, document.getElementById('store_render'));
</script>