<table class="moveHeaderToTop">
    <tr>
    <td class="menu">
        <span class="logo"><a href="/"><img src="img/BitShares-Munich-logo.png" height=50 alt=""></a></span>
        <span class="mainMenu">
            <a href="#pointofsale">pos</a> 
            <a href="#smartcard">smartcard</a> 
            <a href="#store" lang="en">store</a> 
            <a href="mailto:info@BitShares-Munich.de" lang="en">contact</a> 
            <a href="#store"><img src="img/cart.png" height=20 border=0></a> 
            <a href="#" onclick="window.lang.change('en'); return false;" title="Set the language to English">en</a>
            <span class="greenit">:</span>
            <a href="#" onclick="window.lang.change('de'); return false;" title="Zeigen Sie die Seite in Deutsch">de</a>
        </span>
    </td>
    </tr>
    <tr>
    <td class="bgGradient">&nbsp;</td>
    </tr>
    <tr>
    <td> 
        <div id='bitsharesticker' position: fixed ></div>
    </td>
</tr>
</table>