<div id="footer-wrapper">
            <footer id="footer">
                <div class="container">
				 <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3">
								<div class="foot-header"><span><span id="footer_lang1">BITSHARES MUNICH</span></span>&nbsp;&nbsp;<img src="img/icon-offsite.png"></div>
                                <a href="mailto:info@bitshares-munich.de&subject=Contact" target="_top">
                                    <img src="img/icon-email.png" class=grayit>
                                </a>
                                <a href="http://twitter.com/kenCode_de" target="_blank">
                                    <img src="img/icon-twitter.png" class=grayit>
                                </a>
                                <a href="http://facebook.com/BitSharesMunich" target="_blank">
                                    <img src="img/icon-facebook.png" class=grayit>
                                </a>
                                <br/>
                                <a href="http://youtube.com/BitSharesMunich-de" target="_blank">
                                    <img src="img/icon-youtube.png" class=grayit>
                                </a>
                                <a href="http://linkedin.com/company/bitshares-munich" target="_blank">
                                    <img src="img/icon-linkedin.png" class=grayit>
                                </a>
                                <a href="http://pinterest.com/BitSharesMunich" target="_blank">
                                    <img src="img/icon-pinterest.png" class=grayit>
                                </a>
                                <br/>
                                <a href="http://google.com/+BitSharesMunich-de" target="_blank">
                                    <img src="img/icon-gplus.png" class=grayit>
                                </a>
                                <a href="sitemap.xml" target="_blank">
                                    <img src="img/icon-rss.png" class=grayit>
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
							<div class="foot-header"><span><span id="footer_lang2">BITSHARES</span></span>&nbsp;&nbsp;<img src="img/icon-offsite.png"></div>
							<ul class="list-unstyled nav-list">
										<li><a data-scroll class="page-scroll" href="#wallets"><span><span id="footer_lang3">Get a wallet</span></span></a></li>
										<li><a data-scroll class="page-scroll" href="#exchanges"><span><span id="footer_lang4">Buy smartcoin</span></span></a></li>
										<li><a data-scroll class="page-scroll" href="#merchants"><span><span id="footer_lang5">Spend smartcoin</span></span></a></li>
										<li><a href="http://cryptofresh.com" target="_blank"><span><span id="footer_lang6">Block explorer</span></span></a></li>
										<li><a href="http://blocktrades.us" target="_blank"><span><span id="footer_lang7">Quick trades</span></span></a></li>
										</ul>
							</div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
							<div class="foot-header"><span><span id="footer_lang8">PRODUCTS</span></span></div>
							<ul class="list-unstyled nav-list">
								<li><a data-scroll class="page-scroll" href="#merchants"><span><span id="footer_lang9">Odoo POS</span></span></a></li>
                                <li><a data-scroll class="page-scroll" href="#merchants"><span><span id="footer_lang10">Standalone POS</span></span></a></li>
                                <li><a data-scroll class="page-scroll" href="#wallets"><span><span id="footer_lang11">Wallets</span></span></a></li>
							</ul>
							</div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
							<div class="foot-header"><span><span id="footer_lang12">BUSINESS</span></span></div>
							<ul class="list-unstyled nav-list">
                                <li><a target="_blank" href="http://meetup.com/BitShares-Munich/"><span><span id="footer_lang13">Meetups</span></span></a></li>
							</ul>
                            </div>
						 </div>
                </div>
            </footer>

    <div class="container">
        <!-- Button trigger modal -->
        <p class="text-muted credit footer-text text-center pull-right"><span><span id="footer_lang14">© 2016 BitShares Munich.</span></span> <a class="footer-link" data-toggle="modal" href="#terms" aria-expanded="false" aria-controls="collapseExample"><span><span data-toggle="modal" href="#terms" id="footer_lang15">Terms of use.</span></span></a> &nbsp;<span><span id="footer_lang16">Design by</span></span> <a class="footer-link" target="_blank" href="https://about.me/poqdavid" alt="poqdavid">poqdavid</a></p>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="terms"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" multilinks-noscroll="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Terms of use</h4>
            </div>
            <div class="modal-body text-left">

                © 2016 AGB, Urheberrecht, Impressum &amp; Datenschutz
                <p>
                    © 2016 All Rights Reserved Worldwide. Privacy Policy: We do not store any information about you whatsoever. Therefore, we cannot and will not share anything about you with anyone, ever.
                <p>
                    Datenschutzerklärung<br>
                    Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.
                <p>
                    Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.
                <p>
                    Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
                <p>
                    Datenschutzerklärung für die Nutzung von Google Analytics<br>
                    Diese Website nutzt Funktionen des  Webanalysedienstes Google Analytics. Anbieter ist die Google Inc. 1600 Amphitheatre Parkway Mountain View, CA 94043, USA. Google Analytics verwendet sog. "Cookies". Das sind Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert.
                <p>
                    Im Falle der Aktivierung der IP-Anonymisierung auf dieser Webseite wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen. Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt.
                <p>
                    Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen können. Sie können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem sie das unter dem folgenden Link verfügbare Browser-Plugin herunterladen und installieren: http://tools.google.com/dlpage/gaoptout?hl=de
                <p>
                    Datenschutzerklärung für die Nutzung von Twitter<br>
                    Auf unseren Seiten sind Funktionen des Dienstes Twitter eingebunden. Diese Funktionen werden angeboten durch die Twitter Inc., 795 Folsom St., Suite 600, San Francisco, CA 94107, USA. Durch das Benutzen von Twitter und der Funktion "Re-Tweet" werden die von Ihnen besuchten Webseiten mit Ihrem Twitter-Account verknüpft und anderen Nutzern bekannt gegeben. Dabei werden auch Daten an Twitter übertragen. Wir weisen darauf hin, dass wir als Anbieter der Seiten keine Kenntnis vom Inhalt der übermittelten Daten sowie deren Nutzung durch Twitter erhalten. Weitere Informationen hierzu finden Sie in der Datenschutzerklärung von Twitter unter http://twitter.com/privacy.
                    Ihre Datenschutzeinstellungen bei Twitter können Sie in den Konto-Einstellungen unter http://twitter.com/account/settings ändern.
                <p>
                    Auskunft, Löschung, Sperrung<br>
                    Sie haben jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger und den Zweck der Datenverarbeitung sowie ein Recht auf Berichtigung, Sperrung oder Löschung dieser Daten. Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden.
                <p>
                    Server-Log-Files<br>
                    Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten Server-Log Files, die Ihr Browser automatisch an uns übermittelt. Dies sind:
                <ul>
                    <li>Browsertyp / Browserversion</li>
                    <li>Verwendetes Betriebssystem</li>
                    <li>Referrer URL</li>
                    <li>Hostname des zugreifenden Rechners</li>
                    <li>Uhrzeit der Serveranfrage</li>
                </ul>
                Diese Daten sind nicht bestimmten Personen zuordenbar. Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen. Wir behalten uns vor, diese Daten nachträglich zu prüfen, wenn uns konkrete Anhaltspunkte für eine rechtswidrige Nutzung bekannt werden.
                <p>
                    Cookies<br>
                    Die Internetseiten verwenden teilweise so genannte Cookies. Cookies richten auf Ihrem Rechner keinen Schaden an und enthalten keine Viren. Cookies dienen dazu, unser Angebot nutzerfreundlicher, effektiver und sicherer zu machen. Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und die Ihr Browser speichert.
                    Die meisten der von uns verwendeten Cookies sind so genannte „Session-Cookies“. Sie werden nach Ende Ihres Besuchs automatisch gelöscht. Andere Cookies bleiben auf Ihrem Endgerät gespeichert, bis Sie diese löschen. Diese Cookies ermöglichen es uns, Ihren Browser beim nächsten Besuch wiederzuerkennen.
                    Sie können Ihren Browser so einstellen, dass Sie über das Setzen von Cookies informiert werden und Cookies nur im Einzelfall erlauben, die Annahme von Cookies für bestimmte Fälle oder generell ausschließen sowie das automatische Löschen der Cookies beim Schließen des Browser aktivieren. Bei der Deaktivierung von Cookies kann die Funktionalität dieser Website eingeschränkt sein.
                <p>
                    Kontaktformular<br>
                    Wenn Sie uns per Kontaktformular Anfragen zukommen lassen, werden Ihre Angaben aus dem Anfrageformular inklusive der von Ihnen dort angegebenen Kontaktdaten zwecks Bearbeitung der Anfrage und für den Fall von Anschlussfragen bei uns gespeichert. Diese Daten geben wir nicht ohne Ihre Einwilligung weiter.
                <p>
                    Widerspruch Werbe-Mails<br>
                    Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-E-Mails, vor.
                <p>
                    Newsletterdaten<br>
                    Wenn Sie den auf der Webseite angebotenen Newsletter beziehen möchten, benötigen wir von Ihnen eine E-Mail-Adresse sowie Informationen, welche uns die Überprüfung gestatten, dass Sie der Inhaber der angegebenen E-Mail-Adresse sind und mit dem Empfang des Newsletters einverstanden sind. Weitere Daten werden nicht erhoben. Diese Daten verwenden wir ausschließlich für den Versand der angeforderten Informationen und geben sie nicht an Dritte weiter.
                <p>
                    Die erteilte Einwilligung zur Speicherung der Daten, der E-Mail-Adresse sowie deren Nutzung zum Versand des Newsletters können Sie jederzeit widerrufen , etwa über den „Austragen“-Link im Newsletter.

                <p>
                    Disclaimer<br>
                    Haftung für Inhalte<br>
                    Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
                <p>
                    Haftung für Links<br>
                    Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
                <p>
                    Urheberrecht<br>
                    Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht.
                    Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw.
                    Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden,
                    werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden,
                    bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.<br>
                    BitShares Munich IVS, attn: Julie Dall, Poul Sloths Vej 22, 8270 Højbjerg, Denmark

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- React Language Selector -->
<script type="text/javascript">
    var lang = new React.LS('en_US');

lang.ready(function () {
    //List of languages
    var rlsui_languages = [
        {
            id: 'en_US',
            langfile: 'js/languages/en.json',
            title: 'English',
            name: 'English',
            flagImg: 'img/flags/us.png',
            flagTitle: 'United States'
        },
        {
            id: 'de_DE',
            langfile: 'js/languages/de.json',
            title: 'German',
            name: 'Deutsch',
            flagImg: 'img/flags/de.png',
            flagTitle: 'Germany'
        },
        /*
         {
         //id for loaded language pack also can be 'fr'
         id: 'fr_FR',
         //path to language pack
         langfile: 'languages/fr.json',
         title: 'French',
         name: 'French',
         flagImg: 'img/flags/fr.png',
         flagTitle: 'French'
         },*/
    ];
    //main part for loading language selector ui
    ReactDOM.render(React.createElement(lang.UI, {
        items: rlsui_languages,
        selectedLang: window.lang.currentLang(),
        showFlag: false,
        onLanguageChanged: function (rlsui_lang) {
            lang.set_load_lang(rlsui_lang.id, rlsui_lang.langfile);
        }
    }), document.getElementById('langs'));
});</script>

<script type="text/javascript">
    //initializing smoothScroll
    smoothScroll.init();

    // google analytics:
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-58147431-2', 'auto');
    ga('send', 'pageview');

</script>
<script type="text/javascript" async src='//www.google-analytics.com/analytics.js'></script>

<!-- all (react-language-selector.min.js, classie.js, cbpAnimatedHeader.min.js) scripts combined -->
<script type="text/javascript" src="js/footer.js"></script>