<div id="cryptocurrency_exchange"></div>
<br>
<table class="noshade">
<tr>
<td width="20%" valign=top>
<b>The BitShares <i>Decentralized</i> Cryptocurrency Exchange</b>
<ul style="list-style-type: circle;">
<li>Yield-bearing Accounts</li>
<li>Prediction Market</li>
<li>Global Remittance</li>
<li>Project Fundraising</li>
<li>Anonymity, Security &amp; Multi-sig</li>
<li>Major Indexes; Nasdaq, Nikkei, Hang Seng, Shenzhen..</li>
</ul>
</td>
<td width="30%" align=center>
	<div id="cf">
	<img class="bottom" src="img/cf-open-orderbook.png" width=320 height=200 alt="" />
	<img class="top" src="img/cf-bitshares-wallet.png" width=320 height=200 alt="" />
	</div>
</td>
<td width="20%" valign=top>
<ul style="list-style-type: circle;">
<li>Bond Market &amp; Lending</li>
<li>Trading, Shorting, Longs</li>
<li>Market-Pegged &amp; User-Issued Assets (MPA/UIA's)</li>
<li>Programmable Smart-Contracts</li>
<li>Crypto-income &amp; Wealth Mgmt</li>
<li>Recurring/Scheduled Payments</li>
<li>1sec transactions @ &gt;100K tps</li>
<li>Pay anyone anywhere any amount for under 3 cents!</li>
</ul>
</td>
<td width="30%" align=center>
	<div id="cf">
	<img class="bottom" src="img/cf-assets.png" width=320 height=200 alt="" />
	<img class="top" src="img/cf-buy-sell.png" width=320 height=200 alt="" />
	</div>
</td>
</tr>
</table>
