<!-- Exchanges Grid Section -->
<section id="exchanges">
    <div class="container">
        <h1 class="text-center" style="padding-bottom: 5%"><span id="exchanges_lang1">Get some Smartcoins</span></h1>

        <div class="row flexrow" style="text-align: center;">
            <div class="col-md-6 col-sm-6 col-xs-6 text-center" style="">

                <a href="https://ccedk.com/" class="fullcenter" target="_blank" >
                    <img   src="img/ccedk.png" class="absolute-center isleft" width="25%"  style="">
                </a>
                <a href="https://openledger.info/" class="fullcenter" target="_blank" >
                    <img  src="img/openledger-blue.png" class="absolute-center isright" width="25%"   style="">
                </a>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 text-center">

                <h2 class="center-block" style="padding-top: 6%">
                    <span id="exchanges_lang2">Converting your old money to cryptocurrency is easy. Just choose an Exchange.</span>
                </h2>
            </div>
        </div>
    </div>
</section>