<!-- Merchants Section -->
<section class="bg-light-gray" id="merchants">
    <div class="container">
        <h1 class="text-center" style="padding-bottom: 5%"><span id="merchants_lang1">Spend some Smartcoins</span></h1>
        <div class="row flexrow">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <h2 class="fullcenter-text">
                    <span id="merchants_lang2">Merchants who accept Smartcoins say Hello to new customers!</span>
                    <br/>
                    <span><a id="merchants_lang3" target="_blank" href="https://www.google.com/maps/d/viewer?mid=zLY6iTzs1kEE.k_aD7hgRdB60">Contact us to have your business listed too!</a></span>
                </h2>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.google.com/maps/d/u/0/embed?mid=zLY6iTzs1kEE.k_aD7hgRdB60"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
