
<div id="footer-wrapper">
            <footer id="footer">
                <div class="container">
				 <div class="row">
                            <div class="col-md-3 col-sm-6">
								<div class="foot-header">BITSHARES MUNICH&nbsp;&nbsp;<img src="img/icon-offsite.png"></div>
                                <a href="mailto:info@BitShares-Munich.de"><img src="img/icon-email.png"
                                                                               class=grayit></a>
                                <a href="http://twitter.com/kenCode_de" target="_blank"><img src="img/icon-twitter.png"
                                                                                             class=grayit></a>
                                <a href="http://facebook.com/BitSharesMunich" target="_blank"><img
                                        src="img/icon-facebook.png" class=grayit></a><br>
                                <a href="http://youtube.com/BitSharesMunich-de" target="_blank"><img
                                        src="img/icon-youtube.png" class=grayit></a>
                                <a href="http://linkedin.com/company/bitshares-munich" target="_blank"><img
                                        src="img/icon-linkedin.png" class=grayit></a>
                                <a href="http://pinterest.com/BitSharesMunich" target="_blank"><img
                                        src="img/icon-pinterest.png" class=grayit></a><br>
                                <a href="http://google.com/+BitSharesMunich-de" target="_blank"><img
                                        src="img/icon-gplus.png" class=grayit></a>
                                <a href="sitemap.xml" target="_blank"><img src="img/icon-rss.png" class=grayit></a>
                            </div>
                            <div class="col-md-3 col-sm-6">
							<div class="foot-header">BITSHARES&nbsp;&nbsp;<img src="img/icon-offsite.png"></div>
							<ul class="list-unstyled nav-list">
										<li><a href="https://bitshares.org/download"target="_blank">get a wallet</a></li>
										<li><a href="https://bitshares.org/register" target="_blank">pick a username</a></li>
										<li><a href="https://www.ccedk.com/bts-eur" target="_blank">buy smartcoin</a></li>
										<li><a href="#store">spend smartcoin</a></li>
										<li><a href="http://bitsharesblocks.com" target="_blank">block explorer</a></li>
										<li><a href="https://metaexchange.info" target="_blank">quick trades</a></li>
										</ul>
							</div>
                            <div class="col-md-3 col-sm-6">
							<div class="foot-header">PRODUCTS</div>
							<ul class="list-unstyled nav-list">
								<li><a href="#pointofsale">pos systems</a></li>
								<li><a href="#smartcard">smartcard</a></li>
								<li><a href="#store">cold storage</a></li>
								<li><a href="#store">qr wearables</a></li>
								<li><a href="#store">logo goods</a></li>
							</ul>
							</div>
                            <div class="col-md-3 col-sm-6">
							<div class="foot-header">BUSINESS</div>
							<ul class="list-unstyled nav-list">
							<li><a href="#pointofsale">pos systems</a></li>
							<li><a href="#crypto_coaching_team">coaching</a></li>
							<li><a href="#cryptocurrency_exchange">trading</a></li>
							</ul>
                            </div>
                            <div class="col-md-3 col-sm-6" >
							<ul class="list-unstyled nav-list">
								<li><a href="#press">press</a></li>
								<li><a href="#Expo_2016">expo 2016</a></li>
						    </ul>
							</div>
						 </div>
                </div>
				
            </footer>
			</div>

<script>
    // always pull in this json data:
   // $(document).ready(function () {
      //  $.getJSON("id/kenCode.json", function (json) {
          //  $(".pgpfp").append(json.pgp.fingerprint.slice(-16)); //only show the 16 digit 64-bit fp
            //	$(".btcaddr").append(json.bitcoin.address);
            //	document.getElementById("btcaddrLink").setAttribute("href","bitcoin:"+json.bitcoin.address);
            //	document.getElementById("roundedGravatar").setAttribute("src",json.avatar.url);
       // });
   // });

    // smooth scroll inner page links
    //$(document).ready(function(){
    //	$('a[href^="#"]').on('click',function (e) {
    //		e.preventDefault();
    //		var target = this.hash;
    //		var $target = $(target);
    //		$('html, body').stop().animate({
    //			'scrollTop': $target.offset().top
    //			}, 900, 'swing', function () {
    //			window.location.hash = target;
    //		});
    //	});
    //});

    // language specific code (if requested):
    //var lang = new Lang('en');
    //lang.dynamic('de', 'js/langpack/de.json');

    // google analytics:
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-58147431-2', 'auto');
    ga('send', 'pageview');
</script>