<div id="store"></div>
<!-- Store Section -->
<section id="store" class="bg-light-gray">
    <div class="container">
<table>
<tr>
<td width="20%" valign=top>
<script src="js/accordionmenu.js"></script>
<nav id="acdnmenu" ken="http://www.menucool.com/vertical/accordion-menu">
	<ul>
		<li><img src="img/cart.png" height=14 border=0> Shop (all)
			<ul>
				<li>BitShares POS
					<ul>
						<li><a href="#">Configure a System</a></li>
						<li><a href="#">Download the App</a></li>
					</ul>
				</li>
				<li>Crypto Coaching
					<ul>
						<li><a href="#">Christoph Hering</a></li>
						<li><a href="#">Michael Ep</a></li>
						<li><a href="#">ken Code</a></li>
					</ul>
				</li>
				<li>Goodies
					<ul>
					<li>Cold Storage
					<ul>
						<li><a href="#">Keyfob</a></li>
						<li><a href="#">Wallet Card</a></li>
					</ul>
					</li>
					<li>QR Wearables
					<ul>
						<li><a href="#">Bracelet</a></li>
						<li><a href="#">Henna Tattoo</a></li>
						<li><a href="#">Keychain</a></li>
						<li><a href="#">Necklace</a></li>
					</ul>
					</li>
					</ul>
				</li>
				<li>Hats
					<ul>
						<li><a href="#">Baseball</a></li>
						<li><a href="#">Beanie</a></li>
					</ul>
				</li>
				<li>Shirts
					<ul>
					<li>Casual
					<ul>
						<li><a href="#">Mens</a></li>
						<li><a href="#">Womens</a></li>
						<li><a href="#">Kids</a></li>
					</ul>
					</li>
					<li>Formal
					<ul>
						<li><a href="#">Mens</a></li>
						<li><a href="#">Womens</a></li>
						<li><a href="#">Kids</a></li>
					</ul>
					</li>
					</ul>
				</li>
				<li>Smartcards
					<ul>
						<li><a href="#">In Europe</a></li>
						<li><a href="#">Outside Europe</a></li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</nav>
</td>
<td width="80%" valign=top>The store product photos, descriptions, options and checkout will go on this side.</td>
</tr>
</table>
    </div>
</section>