<!-- Navigation -->
<div class="navbar-wrapper" multilinks-noscroll="true">
    <div class="container" multilinks-noscroll="true">
        <div role="navigation" class="navbar navbar-default navbar-fixed-top">
            <div class="container_nav">
                <div class="navbar-header" multilinks-noscroll="true">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#scrollSpy-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a data-scroll class="navbar-brand page-scroll" data-placement="right" href="#page-top"><img class="logo" alt="BitShares" src="img/BitShares-Munich-logo.svg" preserveAspectRatio="xMidYMid"></a>
                </div>
                <div id="scrollSpy-nav" class="collapse navbar-collapse" multilinks-noscroll="true">
                    <ul class="nav navbar-nav navbar-right" multilinks-noscroll="true" id="langs"></ul>
                    <ul id="navspy" class="nav navbar-nav navbar-right" multilinks-noscroll="true">
                        <li class="hidden active" multilinks-noscroll="true">
                            <a data-scroll class="page-scroll" href="#page-top"></a>
                        </li>
                        <li class="" multilinks-noscroll="true">
                            <a id="lang1" data-scroll class="page-scroll" href="#wallets">Wallets</a>
                        </li>
                        <li class="" multilinks-noscroll="true">
                            <a id="lang2" data-scroll class="page-scroll" href="#exchanges">Exchanges</a>
                        </li>
                        <li class="" multilinks-noscroll="true">
                            <a id="lang3" data-scroll class="page-scroll" href="#merchants" >Merchants</a>
                        </li>
                        <li class="" multilinks-noscroll="true">
                            <a id="lang4" data-scroll href="mailto:info@BitShares-Munich.de">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- div class="container-fluid"><div  class="hidden-xs" id="bitsharesticker"></div></div -->
            </div>
        </div>
    </div>
</div>