<!-- AcceptSmartcoins Section -->
<section id="acceptsmart">
    <div class="container">
        <h1 class="text-center" style="padding-bottom: 5%"><span id="lang21">Accept Smartcoins & Altcoins</span></h1>

        <div class="row flexrow">
            <div class="bottom_top col-md-6 col-sm-6 col-xs-6">

                    <img class="bottom img-rounded img-responsive fullcenter"
                                             src="img/point-of-sale-pos-systems.png" alt="Point Of Sale Systems (POS)"
                                             preserveAspectRatio="xMidYMid">
                    <img class="top img-rounded img-responsive fullcenter" src="img/pos-qr-codes.jpg"
                         alt="Cryptocurrency QR Code at checkout counter"  preserveAspectRatio="xMidYMid">



            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 text-center">

                <h2 class="center-block">
                    <span><span id="lang22">It’s FREE to accept cryptocurrencies. Your customers pay the small network fee, so all you need is an old</span></span>
                    <a href="https://www.google.com/search?output=search&tbm=shop&q=refurbished+android+tablet&oq=refurbished+android+tablet&gs_l=products-cc.3..0.2173.2173.0.2621.1.1.0.0.0.0.121.121.0j1.1.0....0...1ac.1.64.products-cc..0.1.120._2Hxk4GRGNc&gws_rd=ssl#tbs=vw:l,mr:1,cat:4745,pdtr0:724612%7C724613,price:1,ppr_min:40,ppr_max:95,pdtr1:724595%7C724699&tbm=shop&q=refurbished+android+tablet">tablet</a>,
                    <span><span id="lang23">the free “Smartcoins POS” app for</span></span> <a
                        href="https://play.google.com/store/apps/developer?id=BitShares+Munich">Android</a> <span><span
                        id="lang24">or</span></span> <a
                        href="https://itunes.apple.com/us/genre/ios-finance/id6015?mt=8&letter=B&page=11#page">iOS</a>,
                    <span><span id="lang25">and maybe a</span></span> <a
                        href="http://www.ergonomic-solutions.net/products/safeguard-tablet/">Spacepole</a> <span><span
                        id="lang26">and</span></span> <a href="https://bitsharestalk.org/index.php/topic,21754.0.html">window
                    decal</a>.
                </h2>
            </div>
        </div>
    </div>
</section>