<div id="smartcard"></div>
<br>
<table class="noshade">
<tr>
<td width="50%">
<h3>BitShares Munich Smartcard</h3>
The BitShares Munich Smartcard allows you to spend your Smartcoin (BTS, bitEUR, bitUSD, Bitcoin, etc) virtually anywhere debit cards are accepted. 
The chip only communicates your account and routing numbers to the merchant, no name or personal information is ever stored.
<p>
Unlike a prepaid card, your Smartcoin balances become available in fiat (Euros, Dollars, etc) and funded instantly at the moment of use.
<p>
With your PIN, the card can be used to pay for goods and services around the world, for shopping or to withdraw money from an ATM.
<p>
There's no monthly fee and transaction fees are usually under 3 cents, so what are you waiting for.. Want to spend some Smartcoin?
<p>
<a href="#store"><img src="img/cart.png" height=14 border=0> Ordering and options...</a>
</td>
<td width="50%" align=center><img src="img/BitShares-Munich-Smartcard.png" width="320" height="200" alt="BitShares Munich Smartcard"></td>
</tr>
</table>