<!-- Wallets Section -->
<section class="bg-light-gray" id="wallets">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <h1><span id="lang15">Get a Wallet</span></h1>
                <h2 style="padding-top: 4%">
                    <span id="lang16">To hold crypto-currencies, you will need a Wallet. Web and Mobile choices are now available.</span>
                </h2>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 text-center">
                <a href="https://bitshares.openledger.info/" class="center-block" target="_blank">
                    <img src="img/web-wallet.png" width="126" preserveAspectRatio="xMidYMid">
                </a>
                <a href="https://play.google.com/store/apps/details?id=de.bitsharesmunich.wallet" class="" target="_blank">
                    <img src="img/download-android.png" width="126" preserveAspectRatio="xMidYMid">
                </a>
                <a href="https://alternativeto.net/software/bitshares-wallet/" target="_blank">
                    <img src="img/download-ios.png" width="126" preserveAspectRatio="xMidYMid">
                </a>
                <br/>
                <a href="https://f-droid.org/repository/browse/?fdfilter=bitshares&fdid=de.bitsharesmunich.wallet" target="_blank">
                    <img src="img/download-fdroid.png" width="126" preserveAspectRatio="xMidYMid">
                </a>
                <a href="#" target="_blank">
                    <img src="img/download-windowsmobile.png" width="126" preserveAspectRatio="xMidYMid">
                </a>
            </div>
        </div>
    </div>
</section>