<!-- React-slick Core JavaScript -->
<!--script src="js/react-slick.js"></script-->

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">

            <h1><span id="lang5">10 Reasons to use Smartcoins</span></h1>

            <div class="row">
                <div class="col-md-6">
                    <h2>
                        <ul class="list-group">
                            <li class="list-group-item"><span id="lang6">Cryptocurrencies do not need Banks</span></li>
                            <li class="list-group-item"><span id="lang7">Fast, 3-second transactions</span></li>
                            <li class="list-group-item"><span
                                    id="lang8">QR codes are faster/safer than cash/cards</span></li>
                            <li class="list-group-item"><span id="lang9">Send/Receive any amount for under 1 cent</span>
                            </li>
                            <li class="list-group-item"><span id="lang10">Future-proof; Most popular coins are made available automatically via their market capitalization</span>
                            </li>
                        </ul>
                    </h2>
                </div>
                <div class="col-md-6">
                    <h2>
                        <ul class="list-group">
                            <li class="list-group-item"><span id="lang11">Zero fees for Merchants</span></li>
                            <li class="list-group-item"><span id="lang12">Zero chance of ID Theft or Chargebacks</span>
                            </li>
                            <li class="list-group-item"><span
                                    id="lang13">Coins are market-pegged; zero volatility</span></li>
                            <li class="list-group-item"><span
                                    id="lang14">Automated reporting for accurate Accounting</span></li>
                        </ul>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</header>