<!-- Exchanges Grid Section -->
<section id="exchanges">
    <div class="container">
        <h1 class="text-center" style="padding-bottom: 5%"><span id="lang17">Get some Smartcoins</span></h1>

        <div class="row">
            <div class="col-md-6 text-center">
                <a href="#" class="" target="_blank">
                    <img src="img/ccedk.png" width="150" preserveAspectRatio="xMidYMid">
                </a>
                <a href="#" target="_blank">
                    <img src="img/openledger-blue.png" width="150" preserveAspectRatio="xMidYMid">
                </a>
                <br/>
                <a href="#" target="_blank">
                    <img src="img/openledger-blue.png" width="150" preserveAspectRatio="xMidYMid">
                </a>
                <a href="#" target="_blank">
                    <img src="img/ccedk.png" width="150" preserveAspectRatio="xMidYMid">
                </a>
            </div>
            <div class="col-md-6 text-center">

                <h2 class="center-block" style="padding-top: 25%">
                    <span id="lang18">Converting your old money to cryptocurrency is easy. Just choose an Exchange.</span>
                </h2>
            </div>
        </div>
    </div>
</section>