<!-- POS Section -->
<section class="bg-light-gray" id="pos" >
    <div class="container">
<table>
<tr>
<td width="50%" align=center>
	<div id="cf">
	<img class="bottom2" src="img/point-of-sale-pos-systems.png" width=320 height=200 alt="Point Of Sale Systems (POS)" />
	<img class="top2" src="img/pos-qr-codes.jpg" width=320 height=200 alt="Cryptocurrency QR Code at checkout counter" />
	</div>
</td>
<td width="50%">
<h3>BitShares Point Of Sale (POS)</h3>
BitShares POS systems allow you to accept cryptocurrencies like BTS, bitEUR, bitUSD, bitCNY, bitBTC, bitGOLD, bitSILV, Banx, Qora, Bitcoin, Litecoin and more.
<p>
BitShares POS offers everything you need: Tablet, cash drawer, barcode scanner, scale, card reader and printer. Support and even local install services are readily available if needed. 
If you don't like ours, just download the module for yours; Odoo, ShopKeep, QuickBooks, Revel.. many <i>existing</i> systems are also supported!
<p>
Merchants who can say "Cash, Card or Crypto?" ..say Hello to new customers!
<p>
<a href="#store"><img src="img/cart.png" height=14 border=0> Ordering and options...</a>
</td>
</tr>
</table>
    </div>
</section>