<!-- socket.io Core JavaScript -->
<script src="/socket.io/socket.io.js"></script>
<script>
    function socketconnect() {
        var socket = io('http://{{ http_host }}:{{ http_port }}');
    }
    var socketioElement = document.createElement('script')
    socketioElement.setAttribute("type", "text/javascript")
    socketioElement.setAttribute("src", "/socket.io/socket.io.js")
    document.head.appendChild(socketioElement)
</script>

<!-- React-slick Core JavaScript -->
<script src="js/react-slick.js"></script>