'use strict';

module.exports= {
    app_title: 'bitshares-munich',
    http_port: '',
    http_host: 'bitshares-munich.evennode.com',
    winston_log_level: 'debug',
    price_list_metadata: [
        {key: 'EUR', img_src:'img/bitEUR.png', width:15, height:15, alt:"BTS/EUR", border:0, label: 'SURPRESS'},
        {key: 'BTS_BTC', img_src:'img/bitBTS.png', width:15, height:15, alt:"BTS_BTC/EUR", border:0,  label: 'BTS_BTC/EUR'},
        {key: 'bitUSD_BTC', img_src:'img/bitUSD.png', width:15, height:15, alt:"bitUSD", border:0,  label: 'bitUSD/EUR'},
        {key: 'bitSILVER_BTC', img_src:'img/bitSILV.png', width:15, height:15, alt:"bitSILV", border:0, label: 'bitSILV/EUR'},
        {key: 'bitGOLD_BTC', img_src:'img/bitGOLD.png', width:15, height:15, alt:"bitGOLD", border:0, label: 'bitGOLD/EUR'},
        {key: 'bitCNY_BTC', img_src:'img/bitCNY.png', width:15, height:15, alt:"bitCNY", border:0, label: 'bitCNY/EUR'},
        {key: 'bitBTC_BTC', img_src:'img/bitBTC.png', width:15, height:15, alt:"bitBTC", border:0, label: 'bitBTC/EUR'},
        {key: 'bitEUR_BTC', img_src:'img/bitEUR.png', width:15, height:15, alt:"bitEUR", border:0, label: 'bitEUR/EUR'} 
    ], 
    datasources:{
        json_api: {
            bitsharesblocks: {
                feed_name: 'bitsharesblocks',
                feed_url: 'http://api.bitsharesblocks.com/v1/cmc',
                polling_interval_seconds: 7,
                instructions: 'these are priced in bitshares, must take value from source and divide by BTS/EUR',
                whitelist: [ 
                    'blackmagic',
                    'EUR',
                    'BTC'
                ],
                blacklist:[
                    'blackmagic',
                    'BTS',
                    'GAS',
                    'DIESEL',
                    'KRW',
                    'OIL',
                    'SILVER',
                    'GOLD',
                    'TRY',
                    'SGD',
                    'HKD',
                    'RUB',
                    'SEK',
                    'NZD',
                    'CNY',
                    'CAD',
                    'CHF',
                    'AUD',
                    'GBP',
                    'JPY',
                    'NOTE',
                    'TESTME',
                    'BANCOR',
                    'NASDAQC',
                    'HANGSENG',
                    'NIKKEI',
                    'SHENZHEN',
                    'SHANGHAI',
                    'MXN',
                    'USD',
                    'CROWDFUN',
                    'DRAGON',
                    'SERVICE',
                    'BTCSHA'
                ]
            },
            metaexchange: {
                feed_name: 'metaexchange',
                feed_url: 'http://metaexchange.info/api/1/getAllMarkets',
                polling_interval_seconds: 7,
                instructions: 'read as BTC per bitCNY these are btc prices. must take the value from source and multiply times euros per btc',
                whitelist: [
                    'blackmagic',
                    'BTS_BTC', 
                    'bitUSD_BTC',
                    'bitSILVER_BTC',
                    'bitGOLD_BTC',
                    'bitCNY_BTC',
                    'bitBTC_BTC',
                    'bitEUR_BTC'
                ],
                blacklist: [
                    'BTC_bitCNY',
                    'ETH_BTC',
                    'NXT_BTC'
                ]
            },
            ccedk: {
                feed_name: 'ccedk',
                feed_url: 'https://www.ccedk.com/api/v1/stats/marketdepthfull',
                polling_interval_seconds: 7,
                instructions: '',
                whitelist: [
                    'blackmagic',
                    'biteur/eur'
                ],
                blacklist: [
                    'blackmagic',
                    'ltc/btc',
                    'btc/usd',
                    'ltc/usd',
                    'ltc/eur',
                    'ltc/gbp',
                    'ltc/dkk',
                    'btc/eur',
                    'btc/gbp',
                    'btc/dkk',
                    'ppc/ltc',
                    'ppc/btc',
                    'ppc/usd',
                    'ppc/eur',
                    'ppc/gbp',
                    'ppc/dkk',
                    'nxt/dkk',
                    'nxt/ltc',
                    'nxt/btc',
                    'nxt/usd',
                    'nxt/gbp',
                    'nxt/eur',
                    'ltc/rub',
                    'btc/rub',
                    'ppc/rub',
                    'nxt/rub',
                    'blk/usd',
                    'blk/eur',
                    'blk/btc',
                    'blk/dkk',
                    'nbt/usd',
                    'nbt/btc',
                    'nbt/ppc',
                    'nbt/eur',
                    'bts/btc',
                    'bts/ltc',
                    'bts/ppc',
                    'bts/nxt',
                    'bts/eur',
                    'bts/usd',
                    'bts/dkk',
                    'bts/rub',
                    'doge/btc',
                    'doge/ltc',
                    'doge/ppc',
                    'doge/nxt',
                    'doge/eur',
                    'doge/usd',
                    'doge/dkk',
                    'doge/rub',
                    'fimk/btc',
                    'fimk/nxt',
                    'fimk/bts',
                    'fimk/eur',
                    'fimk/usd',
                    'fimk/dkk',
                    'fimk/rub',
                    'dash/btc',
                    'dash/ltc',
                    'dash/bts',
                    'dash/doge',
                    'dash/eur',
                    'dash/usd',
                    'dash/dkk',
                    'dash/rub',
                    'nsr/btc',
                    'nsr/nbt',
                    'nsr/ppc',
                    'btc/cny',
                    'ltc/cny',
                    'ppc/cny',
                    'nsr/cny',
                    'nxt/cny',
                    'doge/cny',
                    'blk/cny',
                    'dash/cny',
                    'bts/cny',
                    'ccs/eur',
                    'ccs/btc',
                    'ccs/nxt',
                    'nsr/usd',
                    'nsr/eur',
                    'nbt/ltc',
                    'nbt/cny',
                    'bitusd/usd',
                    'bitcny/cny',
                    'bitusd/cny',
                    'bitusd/eur',
                    'bitusd/jpy',
                    'qora/btc',
                    'qora/usd',
                    'qora/eur',
                    'qora/cny',
                    'nbt/bks',
                    'btc/bks',
                    'qora/bts',
                    'qora/nxt',
                    'nbt/bkc',
                    'bks/nbt',
                    'bks/btc',
                    'xrp/btc',
                    'xrp/usd',
                    'xrp/eur',
                    'xrp/cny',
                    'xrp/jpy',
                    'xrp/dkk',
                    'xrp/nbt',
                    'xrp/bitusd'
                ]
            }
        },
        twitter: {
            twitter_api_key: 'u8sF8NuWwAKGeu4hqfunCtcrn',
            twitter_api_secret: '4A94913SduGjq5a56ulpBVkXkaztIFV3CU94djq9XeL3hEYUPb',
            twitter_access_token: '3311646560-DE98GlT3OYPsTLGB6ie7dsBPMAZAXUQU3O76Wiy',
            twitter_access_token_secret: 'kRDtUZ6cFyXVkir3U8vfNgGTzYjEXL91PiYbmxcwTHXcJ',
            twitter_track: 'bitshares',
            twitter_feed_name: 'tweet',
            latest_tweet_screen_name: 'kenCode_de'
        }
    }
}
